<!DOCTYPE html>
<html>
<head>
<title>Landing</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<link href='http://api.mobilis.co.kr/webfonts/css/?fontface=NanumMyeongjoExtraBoldWeb' rel='stylesheet' type='text/css' />
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
<div id="top_nav">
  <span >멋쟁이 사자처럼</span>
</div>
<div id="facebook_division">
  <div class="fb-like" data-href="http://likelion.net" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
</div>
<!--FACEBOOK-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=149190165235116";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="big_text_wrapper">
<p>졸업 전에</p>
<p>내 회사 한번</p>
<p>가져 봐야 하지 않겠나?</p>
</div>
<div id="promise_wrapper">
  <ul id="promise">
    <li><u>나만의 웹/앱 서비스</u>를 갖고 싶은 서울대인에게</li>
    <li><u>snuev.com</u> 정도 짤 수 있는 실력을 갖추게 할</li>
    <li>슈퍼 하드 집중 포커스 트레이닝이 시작된다.</li>
    <li>곧 모집 시작</li>
  </ul>
</div>
<div id="footer"><span id="footer_text">2013년 출범할 새로운 동아리, <u>'멋쟁이 사자처럼'</u> 파운더 일동</span></div>
<div style="width:100px;height:200px;"></div>
</body>
</html>
